@import url(node_modules/font-awesome/css/font-awesome.css);
@import url(https://unpkg.com/leaflet@1.0.2/dist/leaflet.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

/*
 * react-leaflet is silly, you have to manually style the divs it creates
 * https://github.com/PaulLeCam/react-leaflet/blob/master/example/index.html
 * https://github.com/PaulLeCam/react-leaflet/issues/108
 */
.leaflet-container {
	height: 100%;
	width: 100%;
}

.map-legend {
	background-color: #fff;
	border-radius: 10px;
	padding: 1px 10px;
}

.map-legend h4 {
	margin-top: 5px
}

.map-legend img {
	margin: 5px
}

.map-legend p {
	font-size: 8px;
	margin-top: 10px;
}

/*
 * Development Content
 */
.development-content {
	padding-top: 10px;
}

.development-image-container {
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
}

.development-image-container.no-picture-yet {
	background-color: #C9C9C9;
}

.development-image-container img {
	max-height: 300px;
	max-width: 100%;
}

.first-status {
	font-weight: bold;
}
